{% extends "inc/base.html"%}

{% block user_block %}
{% include "inc/login_signup.html" %}
{% endblock user_block %}

{% block content %}
<!-- List of questions -->
<h2 class="mb-3">New Questions</h2>

{% with on_home_page=True with_border="border border-4 rounded-2" %}
{% for question in questions %}
{% include "inc/mini_question.html" %}
{% endfor %}
{% endwith %}

{% include "inc/pagination.html" %}

{% endblock content %}

{% block side_panel %}
<!-- Links -->
<div class="pt-5 p-2">
  <h2>Popular Tags</h2>
  <a href="#" class="link-">tag</a>
  <a href="#" class="link-">tag</a>
  <a href="#" class="link-">tag</a>
  <a href="#" class="link-">tag</a>
</div>
<div class="p-2">
  <h2>Best Members</h2>
  <ul class="list-unstyled">
    <li><a href="#" class="link-primary">Member 1</a></li>
    <li><a href="#" class="link-primary">Member 2</a></li>
    <li><a href="#" class="link-primary">Member 3</a></li>
  </ul>
</div>
{% endblock side_panel %}