{% extends "inc/base.html"%}
{% load static %}

{% block user_block %}
{% include "inc/login_signup.html" %}
{% endblock user_block %}

{% block content %}
{% include "inc/mini_question.html" %}
<hr>
{% for answer in answers %}
{% include "inc/mini_answer.html" %}
{% endfor %}

{% include "inc/pagination.html" %}

<hr>
<!-- New Answer -->
<div class="row mt-5">
  <form method="post">
    <div class="input-group">
      <textarea class="form-control" placeholder="Enter your answer here.."></textarea>
      <button class="btn btn-outline-secondary" type="submit">Answer</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block side_panel %}
<!-- Links -->
<div class="pt-5 p-2">
  <h2>Popular Tags</h2>
  <a href="#" class="link-">tag</a>
  <a href="#" class="link-">tag</a>
  <a href="#" class="link-">tag</a>
  <a href="#" class="link-">tag</a>
</div>
<div class="p-2">
  <h2>Best Members</h2>
  <ul class="list-unstyled">
    <li><a href="#" class="link-primary">Member 1</a></li>
    <li><a href="#" class="link-primary">Member 2</a></li>
    <li><a href="#" class="link-primary">Member 3</a></li>
  </ul>
</div>
{% endblock side_panel %}