{% extends "inc/base.html"%}

{% block user_block %}
{% include "inc/login_signup.html" %}
{% endblock user_block %}

{% block content %}
<!-- Registration form -->
<h2 class="mb-3">Registration</h2>
<form method="post">
  <div class="row g-3">
    <div class="col-12">
      <p class="form-label">Login</p>
      <input type="text" class="form-control is-invalid" placeholder="Login">
      <div class="invalid-feedback">
        Login missing!
      </div>
    </div>
    <div class="col-12">
      <p class="form-label">Email</p>
      <input type="email" class="form-control is-invalid" placeholder="name@example.com">
      <div class="invalid-feedback">
        Email missing!
      </div>
    </div>
    <div class="col-12">
      <p class="form-label">NickName</p>
      <input type="text" class="form-control is-invalid" placeholder="Username">
      <div class="invalid-feedback">
        NickName missing!
      </div>
    </div>
    <div class="col-12">
      <p class="form-label">Password</p>
      <input type="text" class="form-control is-invalid" placeholder="Password">
      <div class="invalid-feedback">
        Password missing!
      </div>
    </div>
    <div class="col-12">
      <p class="form-label">Repeat password</p>
      <input type="text" class="form-control is-invalid" placeholder="Password">
      <div class="invalid-feedback">
        Password missing!
      </div>
    </div>
    <div class="col-12">
      <p class="form-label">Upload avatar</p>
      <input type="file" class="form-control">
    </div>
  </div>
  <hr class="my-4">
  <button class="w-100 btn btn-secondary btn-lg" type="submit">Register!</button>
</form>
{% endblock content %}

{% block side_panel %}
{% include "inc/tags_list.html" %}
{% include "inc/members_list.html" %}
{% endblock side_panel %}