{% load static %}
<div class="row mx-1 my-3 py-2 border border-4 rounded-2">
  <!-- Main -->
  <div class="row">
    <!-- Avatar -->
    <div class="col-4">
      <img class="img-fluid" src="{% static 'img/profile.jpg' %}" alt="">
    </div>
    <!-- Text -->
    <div class="col">
      <p>{{ answer.text }}</p>
    </div>
  </div>
  <!-- Answer Info -->
  <div class="row gy-1">
    <!-- Rating  -->
    {% with rating=answer.rating %}
    {% include "inc/rating.html" %}
    {% endwith %}
    <!-- Text Info -->
    <div class="col d-flex flex-wrap align-items-center">
      <div class="form-check">
        <input type="checkbox" class="form-check-input">
        Correct
      </div>
    </div>
  </div>
</div>